mongodb:
  collection: your-collection
  uri: mongodb://<user>:<password>@<host>:<port>/<database>

flickr:
  default_photoset_id: your-default-photoset
  flickr-username: your-username
  shared_secret: your-api-secret
  api_key: your-api-key
